<div style="text-align:center;">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Deluxe Veggie</mat-card-title>
       
        </mat-card-header>
        <img mat-card-image src="\assets\pizzas\Deluxe Veggie.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Cost: 320/- <br>
            For a vegetarian looking for a BIG treat that goes easy on the spices, this one's got it all.. The onions, the capsicum, those delectable mushrooms - with paneer and golden corn to top it all.
          </p>
        </mat-card-content>
        <button mat-raised-button color="accent">Order Now!!</button>
      </mat-card>
      
</div>