<div style="text-align:center;">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Indi Tandoori Paneer</mat-card-title>
        
        </mat-card-header>
        <img mat-card-image src="\assets\pizzas\Indi Tandoori Paneer.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Cost: 750/- <br>  It is hot. It is spicy. It is oh-so-Indian. Tandoori paneer with capsicum I red paprika I mint mayo
          </p>
        </mat-card-content>
        <button mat-raised-button color="accent">Order Now!!</button>
      </mat-card>
      
</div>