<div style="text-align:center;">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Farm house</mat-card-title>
        
        </mat-card-header>
        <img mat-card-image src="\assets\pizzas\farm house.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Cost: 250/- <br>  A pizza that goes ballistic on veggies! Check out this mouth watering overload of crunchy, crisp capsicum, succulent mushrooms and fresh tomatoes
          </p>
        </mat-card-content>
        <button mat-raised-button color="accent">Order Now!!</button>
      </mat-card>
      
</div>