<div class="hello">
    <h1 style="color:skyblue;font-size: 30px;">Who are we</h1>
    <p  style="color:black;"> 
    Launched in Vijayawada recently, SPY has grown from a home project to one of the largest food aggregators in the world. We are present in 1 country and 10+ cities , enabling our vision of better food for more people. We not only connect people to food in every context but work closely with restaurants to enable a sustainable ecosystem</p>
    <h1  style="color:skyblue;font-size: 30px;">What You'll Get
    </h1>
    <p  style="color:black;">
    The business of food delivery is undergoing rapid change every day as we are capturing markets and customers across the country. So as we grow along with the times, we are always looking for great people to join us on this exciting journey.
    </p>
    
    <h1  style="color:skyblue;font-size: 30px;">Meet our people</h1>
     
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Poojitha (Co-Founder)</mat-card-title>
            
            </mat-card-header>
            <img mat-card-image src="\assets\pizzas\poojitha.png" alt="Photo of a Shiba Inu" style="width:200px;height:200px;">
            <mat-card-content>
              <p>
                A Computer Science Student having a keen interest in problem solving skills.
              </p>
            </mat-card-content>
           
          </mat-card>


          <h2  style="color:black;">Surabhi (Co-Founder)</h2>
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Surabhi (Co-Founder)</mat-card-title>
              
              </mat-card-header>
              <img mat-card-image src="\assets\surabhi.jpg" alt="Photo of a Shiba Inu" style="width:200px;height:200px;">
              <mat-card-content>
                <p>
                  A computer science student interested in app dev. 
                </p>
              </mat-card-content>
             
            </mat-card>



            <h2  style="color:black;">Yasasree (Co-Founder)</h2>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Yasasree (Co-Founder)</mat-card-title>
                
                </mat-card-header>
                <img mat-card-image src="\assets\yasa.jpg" alt="Photo of a Shiba Inu" style="width:200px;height:200px;">
                <mat-card-content>
                  <p>
                    A Computer Science Student having a keen interest in problem solving skills.
                  </p>
                </mat-card-content>
               
              </mat-card>
          
    </div>