<div style="text-align:center;">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mexican green wave</mat-card-title>
        
        </mat-card-header>
        <img mat-card-image src="\assets\pizzas\mexican green wave.jpg" alt="Photo of a Shiba Inu" class="back">
        <mat-card-content>
          <p>
            Cost: 450/- <br>   A pizza loaded with crunchy onions, crisp capsicum, juicy tomatoes and jalapeno with a liberal sprinkling of exotic Mexican herbs.
          </p>
        </mat-card-content>
        <button mat-raised-button color="accent">Order Now!!</button>
      </mat-card>
      
</div>